<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<h2 class="border-bottom py-2">내 정보</h2>
	<div class="card my-3">
		<div class="card-body">
			<div class="mb-3">
				<div class="my-3">
					<label class="form-label">사용자ID</label>
					<input type="text" th:value="${username}" class="form-label" readonly>
				</div>
				<div class="my-3">
					<label class="form-label">이메일</label>
					<input type="text" th:value="${userEmail}" class="form-label" readonly>
				</div>
			</div>
			<form th:action="@{/user/change_password}" th:object="${userUpdateForm}" method="get">
				<button type="submit" class="btn btn-primary">비밀번호 변경하기</button>
			</form>
		</div>
	</div>

	<h2 class="border-bottom py-2">내 질문</h2>
	<div class="card my-3">
		<table class="table">
			<thead class="table-dark">
				<tr class="text-center">
					<th>번호</th>
					<th style="width:50%">제목</th>
					<th>글쓴이</th>
					<th>작성일시</th>
					<th>조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" th:each="question, loop : ${questionPaging}">
					<td th:text="${question.id}"></td>
					<td class="text-start">
						<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
						<span class="text-danger small ms-2" th:if="${#lists.size(question.answerList)>0}"
							th:text="${#lists.size(question.answerList)}">
						</span>
					</td>
					<td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
					<td th:text="${#temporals.format(question.createDate,'yyyy-MM-dd HH:mm')}"></td>
					<td th:text="${question.views}"></td>
				</tr>

				<tr th:if="${questionPaging.empty}">
					<td colspan="4" class="text-center">게시글이 존재하지 않습니다.</td>
				</tr>
			</tbody>
		</table>
		<!-- 페이징처리 시작 -->
		<div th:if="${!questionPaging.isEmpty()}">
			<ul class="pagination justify-content-center">
				<li class="page-item" th:classappend="${!questionPaging.hasPrevious} ? 'disabled'">
					<a class="page-link question-page-link" href="javascript:void(0)"
						th:data-page="${questionPaging.number-1}">
						<span>이전</span>
					</a>
				</li>
				<li th:each="page: ${#numbers.sequence(0, questionPaging.totalPages-1)}"
					th:if="${page >= questionPaging.number-5 and page <= questionPaging.number+5}"
					th:classappend="${page == questionPaging.number} ? 'active'" class="page-item">
					<a th:text="${page}" class="page-link question-page-link" href="javascript:void(0)"
						th:data-page="${page}"></a>
				</li>
				<li class="page-item" th:classappend="${!questionPaging.hasNext} ? 'disabled'">
					<a class="page-link question-page-link" href="javascript:void(0)"
						th:data-page="${questionPaging.number+1}">
						<span>다음</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- 페이징처리 끝 -->
	</div>

	<h2 class="border-bottom py-2">내 답변</h2>
	<!--답변 반복 시작-->
	<div class="card my-3" th:each="answer: ${commentPaging}">
		<a th:id="|answer_${answer.id}|"></a>
		<div class="card-body">
			<div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
			<div th:replace="answer_info :: answerInfo(${answer})"></div>
			<div class="my-3">
				<a th:href="@{|/question/detail/${answer.question.id}|}" class="btn btn-sm btn-outline-secondary"
					th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
					th:text="원본질문글"></a>
				<a href="javascript:void(0)" class="recommend btn btn-sm btn-outline-secondary"
					th:data-uri="@{|/answer/vote/${answer.id}|}">
					추천
					<span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
				</a>
				<a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()" th:if="${answer.author != null and 
								#authentication.getPrincipal().getUsername()==answer.author.username}" th:text="수정"></a>
				<a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
					class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()" th:if="${answer.author != null and 
							#authentication.getPrincipal().getUsername() == answer.author.username}" th:text="삭제"></a>
			</div>

			<!--답변에 달린 댓글 리스트 시작-->
			<div class="my-3 mx-2">
				<div class="border p-2 my-1">
					<div th:each="comment : ${answer.commentList}">
						<div th:text="${comment.content}"></div>
						<div class="d-flex justify-content-between small text-muted">
							<div th:replace="comment_info :: commentInfo(${comment})"></div>
							<div>
								<a th:href="@{|/comment/modifyCommentOnQuestion/${comment.id}|}"
									sec:authorize="isAuthenticated()"
									th:if="${#authentication.name == comment.author.username}">수정</a>
								<a th:href="@{|/comment/deleteCommentOnQuestion/${comment.id}|}"
									sec:authorize="isAuthenticated()"
									th:if="${#authentication.name == comment.author.username}">삭제</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--답변에 달린 댓글 리스트 끝-->

		</div>
	</div>
	<!--답변 반복 끝-->

	<!-- 답변 페이징처리 시작 -->
	<div th:if="${!commentPaging.isEmpty()}">
		<ul class="pagination justify-content-center">
			<li class="page-item" th:classappend="${!commentPaging.hasPrevious} ? 'disabled'">
				<a class="page-link answer-page-link" href="javascript:void(0)"
					th:data-page="${commentPaging.number-1}">
					<span>이전</span>
				</a>
			</li>
			<li th:each="page: ${#numbers.sequence(0, commentPaging.totalPages-1)}"
				th:if="${page >= commentPaging.number-5 and page <= commentPaging.number+5}"
				th:classappend="${page == commentPaging.number} ? 'active'" class="page-item">
				<a th:text="${page}" class="page-link answer-page-link" href="javascript:void(0)"
					th:data-page="${page}"></a>
			</li>
			<li class="page-item" th:classappend="${!commentPaging.hasNext} ? 'disabled'">
				<a class="page-link answer-page-link" href="javascript:void(0)"
					th:data-page="${commentPaging.number+1}">
					<span>다음</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- 답변 페이징처리 끝 -->

	<!--답변 페이징 검색 폼-->
	<form th:action="@{/user/profile}" method="get" id="answerPageForm">
		<input type="hidden" id="answerPage" name="answerPage" th:value="${commentPaging.number}">
	</form>
	<form th:action="@{/user/profile}" method="get" id="searchForm">
		<input type="hidden" id="questionPage" name="questionPage" th:value="${questionPaging.number}">
	</form>
</div>

<script layout:fragment="script" type='text/javascript'>
	const question_page_elements = document.getElementsByClassName("question-page-link");
	Array.from(question_page_elements).forEach(function (element) {
		element.addEventListener('click', function () {
			document.getElementById('questionPage').value = this.dataset.page;
			document.getElementById('searchForm').submit();
		});
	});

	const answer_page_elements = document.getElementsByClassName("answer-page-link");
	Array.from(answer_page_elements).forEach(function (element) {
		element.addEventListener('click', function () {
			document.getElementById('answerPage').value = this.dataset.page;
			document.getElementById('answerPageForm').submit();
		});
	});
</script>

</html>